/* Font size and style*/

body {
    font-size: 100%; 
    background-image: url("../img/write.png"), url("../img/Vector.png");
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #34140C;
}

h3, h6 {
    color: #fff;
}

h6 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
}

main {
    text-align: center;
}

main div h3 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 6.902vw;
    line-height: 120%;
    text-align: center;
}

#homewrite, svg.arrow-down {
    color: #FE9A24;
}

svg.user {
    width: 40px;
    height: 40px;
    background-color: #FAE7D6;
    border: solid 0px;
    border-radius: 25px;
    padding: 5px;
}

svg.arrow-down {
    width: 45px;
    height: 45px;
}

.columns {
    border: opx solid;
    padding: 10px;
}

.column {
    border: opx solid;
    padding: 10px;
}

main h6 {
    display: inline-block;
    border: 2px solid #FE9A24;
    border-radius: 18px;
    padding: 3px 20px;
    margin: 0px, auto;
}

header div img {
    width: 12.801vw;
    position: absolute;
    left: 2.025vw;
    top: 2.025vw;
}

.connect {
    display: inline-block;
    position: absolute;
    top: 1.329vm;
    right: 2.152vw;
}

header div h3, .user {
    display: inline-block;
}

.logo {
    display: inline-block;
}