/* Font size and style*/

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%; 
    background-image: url("../img/write.png"), url("../img/Vector.png");
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #34140C;
}

h3, h6 {
    color: #fff;
}

hr {
    border: 1px solid white;
    opacity: 0.2;
}

h6 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
}

main {
    text-align: center;
}

main div h3 {
    margin-top: 30.55vh;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 6.902vw;
    line-height: 120%;
    text-align: center;
}

#homewrite, svg.arrow-down {
    color: #FE9A24;
}

svg.user {
    width: 25px;
    height: 25px;
    background-color: #FAE7D6;
    border: 2px solid #FE9A24;
    border-radius: 25%;
    padding: 5px;
    margin-left: 10px;
    margin-top: 0px;
}

svg.arrow-down {
    margin-top: 10vh;
    height: 60px;
}

.columns {
    border: opx solid;
    padding: 10px;
    
}

.column {
    border: opx solid;
    padding: 2px;
}

main h6 {
    font-size: 24px;
    display: inline-block;
    border: 2px solid #FE9A24;
    border-radius: 12px;
    padding: 4px 20px;
    margin: 5.7vh, auto;
}

main h6:hover {
    background-color: #FE9A24;
}

header div img {
    width: 100px;
    position: absolute;
    left: 2.025vw;
    top: 2.025vw;
}

header div img:hover {
    width: 110px;
}

header div button, .user {
    display: inline-block;
}

.logo, .connect, .user {
    display: inline-block;
}

header div button {
    border: 2px solid #FE9A24;
    border-radius: 12px;
    padding: 10px 16px;
    margin-top: 0px;
    float: left;
    
    font-size: 12px;
}

header div button:hover {
    background-color: #FE9A24;
}

.connectwallet {
    display: block;
}

.connected{
    display: none;
}

.connected .mywallet {
    visibility: hidden;
    background-color: #FE9A24;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 20%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 6px;
}

.connected:hover .mywallet {
    visibility: visible;
    opacity: 1;
  }

.connect {
    min-width: 160px;
    position: absolute;
    right: 2.025vw;
    top: 2.025vw;
}

a:link {
    text-decoration: none;
}
