/* Font size and style*/

body {
    background-image: url("../img/write.png"), url("../img/Vector.png");
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #34140C;
}

h1, h3, h6 {
    color: #fff;
}

#homewrite, svg.arrow-down {
    color: #FE9A24;
}

h6 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
/* or 38px */
    text-align: center;
    text-transform: uppercase;
}

svg.user {
    width: 40px;
    height: 40px;
    background-color: #FAE7D6;
    border: solid 0px;
    border-radius: 25px;
    padding: 5px;
}

svg.arrow-down {
    width: 45px;
    height: 45px;
}
